.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.whiteboard-container {
  flex-grow: 1;
  display: flex;
  transition: width 0.3s ease;
}

.whiteboard-container .excalidraw {
  width: 100% !important;
  height: 100% !important;
}
